.NavMenu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 20px;

    list-style: none;
}

.NavMenu-link {
    color: #fff;
    font-family: var(--main-font);
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

.NavMenu-link:hover {
    color: var(--secondary-font-color);
}