.Header-wrapper {
    background-image: url("hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Header {
    height: 500px;
    max-width: 1200px;
    margin-inline: auto;

    color: #fff;
}

.Header-menu {
    display: flex;
    justify-content: space-between;
}

.Header-cta {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 16px;
}

.Header-title {
    font-size: 4rem;
}

.Header-btn {
    width: fit-content;
}