.Footer {
    background-color: var(--dark-bg);
}

.Footer-content {
    width: 1200px;
    padding-top: 100px;
    margin-inline: auto;

    display: grid;
    gap: 32px;
}

.Footer-title {
    font-size: 2rem;
    text-align: center;
}

.Footer-main {
    display: flex;
    gap: 16px;
}

.Footer-reviews {
    display: flex;
    gap: 16px;
}

form {
    padding: 20px;
}

input[type="text"],
textarea {
    font-family: var(--body-font);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--body-font-color);
    color: var(--white-color);
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-font-color);
}

